// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form {
  height: 500px;
  background-color: pink;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 300px;
  border-radius: 10px;
}

form {
  margin: 300px;
}
